html, body {
  margin: 0;
  padding: 0;
}

body {
  background: #5FA8D8;

  color: #283742;
  font: 16px/1.3 "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}
h1 {
  color: #FFF;
}
.users {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  width: 90%;
  max-width: 400px;
}
.user {
  background: #C6E8FF;
  padding: 1.3em;
  margin-bottom: 0.5em;
  cursor: pointer;
  -webkit-user-select: none;

  transform: scale(1);
  transition: 0.2s transform ease-out;
}
.user:hover {
  transform: scale(1.1);

}
.user .fullname {
  font-weight: bold;
}
.user .email {
  font-style: italic;
  font-size: 0.875em;
}

